<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HEMA Activity Info</title>
</head>
<body>
<!--        String sb = String.format("HEMA: <a href=\"http://hema.org.uk/fullSummit.jsp?summitKey=%d\">%s</a><br/>",
                summitInfo.getKey(), summitInfo.getRef()) +
                String.format("%s<br/><br/>", summitInfo.getName());
-->
    <div th:fragment="info">
        <div>
            HEMA: <a href="http://hema.org.uk/fullSummit.jsp?summitKey=2371" th:href="@{|http://hema.org.uk/fullSummit.jsp?summitKey=${hema.key}|}" th:text="${hema.ref}" target="_blank" >G/HLD-013</a>
        </div>
        <div>
            Name: <span th:text="${hema.name}">Crinkle Crags - Long Top [Second Crinkle]</span>
        </div>
    </div>
    <div th:fragment="blank" style="display: none;"></div>
</body>
</html>