<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOTA Fragment</title>
    <style>
        .tdLabel {
            width: 200px;
        }
        div.info {
            padding-top: 1em;
        }
    </style>
</head>
<body>
    <div th:fragment="info" class="info">
        <table>
            <thead></thead>
            <tbody>
                <tr>
                    <td class="tdLabel">Name: </td>
                    <td><span th:text="${iota.name}"> Iceland</span></td>
                </tr>
                <tr>
                    <td class="tdLabel">Ref: </td>
                    <td><span th:text="${iota.ref}"> EA-1234</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:fragment="blank" style="display: none;"></div>

</body>
</html>