<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
        String sb = String.format("WOTA: <a href=\"%s\">%s</a><br/>", summitInfo.getUrl(), summitInfo.getRef()) +
                String.format("%s<br/><br/>", summitInfo.getName());
 -->
    <div th:fragment="info">
        <div>
            WOTA: <a href="https://www.wota.org.uk/mm_ldw-087" th:href="${wota.url}" th:text="${wota.ref}" target="_blank" rel="noopener noreferrer">LDW-087</a>
        </div>
        <div>
            Name: <span th:text="${wota.name}">Bowscale Fell</span>
        </div>
    </div>
    <div th:fragment="blank" style="display: none;"></div>

</body>
</html>